<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">
      <div class="d-flex flex-column menu p-5 justify-content-between" style="background-color: #F8F9FA">
        <nav>
          <img class="mb-5" src="./assets/images/logo-ANSWER.svg" alt="logo">
          <ul class="list-unstyled fw-bold d-flex flex-column gap-4">
            <li><a href="#" class="d-flex text-decoration-none gap-3"><span class="material-icons">assessment</span><span>Dashboard</span></a></li>
            <li><a href="#" class="d-flex text-decoration-none gap-3"><span class="material-icons">forum</span><span>Question</span></a></li>
            <li><a href="#" class="d-flex text-decoration-none gap-3"><span class="material-icons">assignment</span><span>Assignment</span></a></li>
            <li><a href="#" class="d-flex text-decoration-none gap-3"><span class="material-icons">video_library</span><span>Course</span></a></li>
            <li><a href="#" class="d-flex text-decoration-none gap-3"><span class="material-icons">people</span><span>Admin</span></a></li>
            <li><a href="#" class="d-flex text-decoration-none gap-3"><span class="material-icons">settings</span><span>Settings</span></a></li>
          </ul>
        </nav>
        <div class="d-flex gap-3 align-items-center">
          <img src="./assets/images/andychen.jpeg" alt="andy" class="avatar rounded-circle img-fluid">
          <div class="login-info">
            <p class="fw-bold name">Andy Chen</p>
            <p class="text-gray email mb-0">andy0401@mail.com</p>
          </div>
        </div>
      </div>
      <main>
        <%- contents %>
      </main>
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>